[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

flask = "*"
threading = "*"
json = "*"
jinja2 = "*"
os = "*"
numpy = "*"
pandas = "*"
time = "*"
datetime= "*"
talib ="*"
gunicorn = "*"



[requires]

python_version = "3.6"
